:root{
    --primary-color: #FFB949;
    --secondery-color: #d85026;
    --off-white: #FEF8E8
}

*{
    box-sizing: border-box;
}

body { 
    margin: 0; 
    background-color: var(--off-white);
    font-family: Lora;
}

#topHeader{
    color: black;
    background-color: var(--off-white);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    display: flex;
    flex-flow: row, wrap;
    width: 100vw;
}

main canvas{
    width: 61.8%;
    height: calc(100vh - 40px);
}

main aside{
    width: 38.2%;
    height: calc(100vh - 40px);
    background-color: var(--off-white); 
    display: flex;
    flex-direction: column;
    padding: 40px 40px 40px 40px;
}

.button{
    border-radius: 16px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    background-color: var(--primary-color);

}

.filterButton{
    height: 80px;
    width: 80px;
    background-color: var(--primary-color);
    border: 2px solid black;
}

#filterMenuDesktop{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 12px 20px;
}

.infoDesktop{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.infoDesktop header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.infoDesktop .locationButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.filterButton i{
    display: block;
    background-position: left center;
    background-size: cover;
}

.filterButton[data-filter="firstaid"] i{
    height: 42px;
    width: 42px;
    background-image: url(./assets/icons/ehbo.svg);
}

.filterButton[data-filter="events"] i{
    height: 42px;
    width: 42px;
    background-image: url(./assets/icons/balloon.svg);
}

.filterButton[data-filter="food"] i{
    height: 42px;
    width: 42px;
    background-image: url(./assets/icons/food.svg);
}

.filterButton[data-filter="entrance"] i{
    height: 36px;
    width: 42px;
    background-image: url(./assets/icons/entrypoint.svg);
}

.filterButton[data-filter="toilets"] i{
    height: 42px;
    width: 42px;
    background-image: url(./assets/icons/wc.svg);
}

.filterButton[data-filter="activities"] i{
    height: 42px;
    width: 42px;
    background-image: url(./assets/icons/sport.svg);
}

.filterButton[data-filter="dog"] i{
    height: 36px;
    width: 42px;
    background-image: url(./assets/icons/dogpaw.svg);
}

.filterButton[data-filter="playground"] i{
    height: 36px;
    width: 42px;
    background-image: url(./assets/icons/playground.svg);
}

.filterButton[data-filter="parking"] i{
    height: 42px;
    width: 42px;
    background-image: url(./assets/icons/parking.svg);
}

/* .filterButton[data-filter="monument"] i{
    height: 42px;
    width: 42px;
    background-image: url(./assets/icons/);
} */


.hidden{
    display: none;
}